<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css" href="about.css">
<link rel="stylesheet" type="text/css" href="home.css">
<link rel="stylesheet" type="text/css" href="loginStyle.css">
<link rel="stylesheet" type="text/css" href="about.css">

<style type="text/css">
  a:hover {
  cursor:pointer;
  }
 </style>


</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">STARS BANK</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Home</a> -->
                <a class="nav-link" href="/users/login">Home</a>
              </li>
            <li class="nav-item">
                <!-- <a class="nav-link" href="/users/login">Account Management</a> -->
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Account Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/transactions">Transactions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/payments">Payments</a>
            </li>
            <li { cursor: pointer; } class="nav-item">
                <form action="/users/logout?_method=DELETE" method="POST">
                  <a class="nav-link" onclick="this.parentNode.submit();">Logout</a>
                </form>
            </li>
        </ul>
        </div>
    </nav>
    <div class="container" style = "margin: auto;">
        <div class="d-flex justify-content-center h-100">
          <div class="msgm" style = "
            margin-right: 0px;
            display: flex;
            /* position: absolute; */
            z-index: 10;
            margin-top: -12;
            font-size: 15px;
            padding-bottom: 0;
            width: fit-content;
        ">
            <% include ./partials/messages %>
          </div>
          <div class="card" style="margin-top: 60px;">
            <div class="card-header">
              <h3>Account Management</h3>
              <div class="d-flex justify-content-end social_icon">
                <span><i class="fab fa-facebook-square"></i></span>
                <span><i class="fab fa-google-plus-square"></i></span>
                <span><i class="fab fa-twitter-square"></i></span>
              </div>
            </div>
            <div class="card-body">
              <form action="/users/management" method="POST">
      
                <div class="input-group form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                  </div>
                  <input type="text" class="form-control" id="name" name="name" placeholder="New Username">
                  
                </div>
                <div class="input-group form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                  </div>
                  <input type="email" class="form-control" id="email" name="email" placeholder="New Email">
                  
                </div>
                <div class="input-group form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                  </div>
                  <input type="password" name="password" id="password" class="form-control" placeholder="New Password">
                </div>
                <div class="input-group form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                  </div>
                  <input type="password" name="password2" id="password2" class="form-control" placeholder="Confirm New Password">
                </div>
                <div class="form-group">
                  <input type="submit" value="Apply" class="btn float-right login_btn">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      
</body>


    <footer class="mainfooter" role="contentinfo" style = "position: fixed; margin-bottom: 0;" >
        <div class="footer-middle">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <!--Column1-->
              <div class="footer-pad">
                <h4>Follow Us</h4>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <!--Column1-->
              <div class="footer-pad">
                <h4>Instagram</h4>
                
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <!--Column1-->
              <div class="footer-pad">
                <h4>Youtube</h4>
                
              </div>
            </div>
              <div class="col-md-3">
                  <h4>Facebook</h4>			
              </div>
          </div>
          <div class="row">
              <div class="col-md-12 copy">
                  <p class="text-center">&copy; Copyright 2020 - Stars Bank Inc.  All rights reserved.</p>
              </div>
          </div>
      
      
        </div>
        </div>
      </footer>
</html>

